* {
    margin: 0; padding: 0;
}
 html {
      src: url(fotos/achtergrond.png);
      background-size:cover;
      background-repeat: no-repeat;
     
   }
 }

header {
    display: grid;
}

header img {
    grid-row-start: 2;
    
}

header nav {
    grid-row-end: 2;
}

main {

}


