* {
    margin: 0; padding: 0;
}
 html {
      background-image: url(fotos/achtergrond.png);
      background-size:cover;
      background-repeat: no-repeat;
   }
 

header {
    display: flex;
    flex-direction: row;
}

header img {
    justify-content: flex-start;
    align-items: flex-start;
    
}

header nav {
    justify-content: flex-end;
    align-items: flex-end;
}

main {
 align-items: center;
}


