*{margin:0; padding: 0;}

#foto1{
    position: absolute;
    width: 11vw;
    background-size: cover;
}

header{
    width: 100vw;
    height: 130px;
    margin-top: -63vh;
    position: absolute;
}

#navigatie{
    float: right;
    list-style: none;
}

ul{
    list-style: none;
    margin-left: -100px;
}

li{
    float: left;
    padding: 40px;
    font-size: 25px;
    list-style: none;
}

a{
    background-color: #FF4500;
    padding: 10px;
    border-radius: 20px;
    color: yellow;
    text-decoration: none;
}

#rocket{
    font-size: 100px;
    margin-left: 200px;
    margin-top: 200px;
    color: yellow;
    position: absolute;
}

#fuel{
    font-size: 100px;
    margin-left: 520px;
    margin-top: 200px;
    color:#A52A2A;
}

article img{
    width: 100vw;
    height: 98vh;
    margin-top: -480px;
}

